.charText {
  position: absolute;
  margin-top: 40px;
  margin-left: 26px;
  font-size: 30px;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: #FFDE8A;
  border-radius: 100px;
}

.circleChar {
  width: 154px;
  height: 154px;
}

.Mycharacter {
  position: absolute;
  top: 15%;  
  left: 50%;
  transform: translateX(-50%);
}

.charExplain {
  position: absolute;
  margin-top: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.viewBtn {
  position: absolute;
  width: 150px;
  height: 39px;
  background-color: #FFDE8A;
  border-radius: 20px;
  display: flex;
  top: 350px;
  margin-left: 10px;
}

.viewSelect {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translateX(-50%, -50%);
  font-size: 18px;
  background-color: transparent;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;    
  color: #5E523A;
  font-family: 'Hakgyo', sans-serif;
  width: 100px;
  text-align: center;
}

.triBtn {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translateX(-50%,-50%);
}
.viewSelect option {
  font-size: 14px;
  background-color: #fdf6e3;
}
.charBoxs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 410px;
  margin-bottom: 90px;

}
.charBox {
  width: 110px;
  height: 110px;
  background-color: #FFEDC0;
  border-radius: 20px;
  margin-left: 10px;
} 