@font-face {
    font-family: 'Hakgyo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.container {
  display: flex;
  margin: 0 auto; 
  background-color: #fdf6e3;
  width: 100%;
  min-height: 100vh;
}
.container2 {
  margin: 0 auto; 
  background-color: #fdf6e3;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
}
.rectangle {
  width: 100%;
  height: 130px;
  background-color: #FFDD63;
}
.profile {
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.userName {
  position: absolute;
  margin-top: 90px;
  font-size: 24px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.profileEdit {
  display: flex;
  max-width: 550px;
  width: 80%;
  height: 34px;
  cursor: pointer;
  background-color: white;
  margin-top: 130px;
  border-radius: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  gap:10px;
  justify-content: center;
}
.profileEditText{
  font-size: 18px;
  color : #5E523A;
  margin-top: 7px;
}
.PencilSquare {
  width: 19px;
  height: 19px;
  margin-top: 8px;
}
.Times {
  width: 100%;
  display: flex;
  margin-top: 30px;
  gap: 50px;
  justify-content: center;
}
.accumulTime,.avgTime2{
  width: 35%; height: 84px;
  max-width: 350px;
  background-color: #FFE78E;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
}
.accumulTimeText,.avgTime2Text {
  color: #97835D;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.accumulTimeTextTime, .avgTime2TextTime {
  margin-top: -5px;
  font-size: 23px;
}
.calendarbox {
  width: 100%;
  height: 100px;
}
.noLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  background-color: #FFDD63;
  border: none;
  border-radius: 20px;
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 30px;
}

.noLogin:hover {
  background-color: #e6c852;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}
.circle2 {
  position: absolute;
  width: 150px;
  height: 150px;
  margin-top: 40px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: #FFECBC;
  border-radius: 100px;
  
}
