.character {
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.timer {
  position: absolute;
  margin-top: 130px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
}

.timerBtns {
  position: absolute;
  display: flex;
  top: 40%;
  left: 50%;
  gap: 30px;
  transform: translate(-50%);
}

.goalBar {
  width: 393px;
  min-height: 50vh;
  margin-top: 105%;
  background-color: rgb(253, 246, 227);
  margin-bottom: 80px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.goals {
  width: 100%;
  height: 60px; 
  margin-top: -1px;
  background-color: rgb(253, 246, 227);
  border: 1px solid;
  border-color: rgb(142, 140, 130);
  overflow: scroll;
  display: flex;
  font-size: 22px;
  gap : 220px;
}
.goalText {
  margin-left: 20px;
}
.noGoal {
  color: #C2B69D;
  font-size: 35px;
  width: 100%;
  margin-top: 40%;
  text-align: center;
}
