.chart-container {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: -40px;
}

.chart-container {
  width: 100%;
  height: 260px;
  padding: 1rem;
  color: white;
}

.chart-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
